body {
  margin: 0;
  background: #f0f0f0;
}

@font-face {
  font-family: "Wolf in the City";
  src: url(fonts/WolfInTheCity.otf);
}
@font-face {
  font-family: "DIN Pro Black";
  src: url(fonts/DINPro-Black.otf);
}
@font-face {
  font-family: "DINPro-Medium";
  src: url(fonts/dinpro-medium.ttf);
}