@import 'mixin';

.popup-content {
    @include media((
        width: (
            mobile: 90% !important,
            tablet: 90% !important,
            laptop: 70% !important
        ),
        height: (
            mobile: 70% !important,
            tablet: 70% !important,
            laptop: auto !important
        )
    ));
}

.response {
    margin: 50px;

    .not_found_sound {
        display: inline-block;
        @include media((
            width: (
                    mobile: 80%,
                    tablet: 80%,
                    laptop: 50%
                )
            ));


        h1 {
            color: #5a78ed;
            text-transform: uppercase;
            
            $headerSize: 25px;
            @include media((
                font-size: (
                    mobile: $headerSize * 3,
                    tablet: $headerSize * 3,
                    laptop: $headerSize
                )
            ));
        }
        p {
            font-family: "DINPro-Medium";

            $paragraphSize: 20px;
            @include media((
                font-size: (
                    mobile: $paragraphSize * 2.3,
                    tablet: $paragraphSize * 2.3,
                    laptop: $paragraphSize
                )
            ));
        }
    }
    .found_song {
        @include media((
            width: (
                    mobile: 70%,
                    tablet: 70%,
                    laptop: 50%
                )
            ));

        vertical-align: top;
        display: inline-block;

        h1 {
            color: #5a78ed;
            text-transform: uppercase;

            $headerSize: 25px;
            @include media((
                font-size: (
                    mobile: $headerSize * 3,
                    tablet: $headerSize * 3,
                    laptop: $headerSize
                )
            ));
        }
        .play {
            padding-left: 5px;
            padding-right: 4px;
            margin: 0 15px 0 15px;
            cursor: pointer;
            display: inline-block;
            color: #ffd940;
            transition: .3s ease-in-out;

            @include media((
                font-size: (
                    mobile: 100px,
                    tablet: 100px,
                    laptop: 30px
                )
            ));
        }
        .play:hover {
            color: #ff6666;
            transition: .3s ease-in-out;
        }
        p {
            display: inline-block;
            font-family: "DINPro-Medium";

            $paragraphSize: 20px;
            @include media((
                font-size: (
                    mobile: $paragraphSize * 3,
                    tablet: $paragraphSize * 3,
                    laptop: $paragraphSize
                )
            ));
        }
        .buttons {
            margin: 20px;

            .divider {
                width:5px;
                height:auto;
                display:inline-block;
            }
        }
    }
    img {
        width: 50%;
        @include media((
            display: (
                mobile: none,
                tablet: none,
                laptop: inline-block
            )
        ));
    }
}