.result {
    margin: 50px;

    h1 {
        color: #5a78ed;
        font-size: 25px;
        text-transform: uppercase;
    }
    table {
        margin: 10px;
        font-family: "DINPro-Medium";
        font-size: 20px;
        width: 100%;

        span {
            margin: 10px;
        }
        .curr_score {
            font-size: 50px;
            color: #ffd940;
        }
    }
}