@import 'mixin';

.result {
    margin: 50px;

    .btn {
        @include media((
            margin-top: (
                mobile: 300px,
                tablet: 300px,
                laptop: 5px
            )
        ));
    }
    h1 {
        color: #5a78ed;
        text-transform: uppercase;

        $headerSize: 25px;
        @include media((
            font-size: (
                mobile: $headerSize * 3,
                tablet: $headerSize * 3,
                laptop: $headerSize
            )
        ));
    }
    table {
        margin: 10px;
        font-family: "DINPro-Medium";
        width: 100%;

        $textSize: 20px;
        @include media((
            font-size: (
                mobile: $textSize * 3,
                tablet: $textSize * 3,
                laptop: $textSize
            )
        ));

        span {
            margin: 10px;
        }
        .curr_score {
            $spanTextSize: 50px;
            @include media((
                font-size: (
                    mobile: $spanTextSize * 3,
                    tablet: $spanTextSize * 3,
                    laptop: $spanTextSize
                )
            ));
            color: #ffd940;
        }
    }
}